<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem de Obras</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/body.css}">
    <link rel="stylesheet" th:href="@{/css/obras/listaObras.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>

<!-- <header>
    <h1>Listagem de Obras</h1>
</header> -->

<nav>
    <ul>
        <li><a href="#">Início</a></li>
        <li><a href="#">Assistir mais tarde</a></li>
        <li><a href="#">Diário</a></li>
        <li><a href="#">Usuários</a></li>
    </ul>
</nav>

<main>
    <h2>Pesquise sobre um filme ou série</h2>
    <form th:action="@{/buscar}" method="GET">
        <input type="search" name="pesquisa" placeholder="Pesquise por um filme ou série...">
    </form>
    <div>
        <table>
            <thead>
            <tr>
                <th>Título</th>
                <th>Gênero</th>
                <th>Ano de Lançamento</th>
                <th>Diretor</th>
                <th>Tipo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="obra : ${obras}">
                <td th:text="${obra.titulo}"></td>
                <td th:text="${obra.genero}"></td>
                <td th:text="${obra.ano}"></td>
                <td th:text="${obra.diretor}"></td>
                <td th:text="${obra.tipo}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(obras)}">
        <p>Nenhuma obra encontrada.</p>
    </div>
</main>

<footer>
    <p>&copy; 2024 Listagem de Obras. Todos os direitos reservados.</p>
</footer>

</body>
</html>