main {
    flex-grow: 1;
    padding: 20px;
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 20px;
    width: 100%;
    outline: none;
    margin: 10px 0px 10px 0px;
}

.titulo {
    font-weight: bold;
}

.subtitulo {
    color: #666666;
    font-weight: normal;
}

button {
    width: 20%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-container {
    display: flex;
    justify-content: end;
}

.formulario-diario {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 20px;
    width: 100%;
    outline: none;
    margin: 10px 0px 10px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}